# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Data files
data/
lakehouse/

# Spark local artifacts
spark-warehouse/
metastore_db/

# AWS / secrets
*.pem
*.key
.env

# Airflow
airflow/logs/
airflow/plugins/__pycache__/

# Spark
spark-warehouse/
metastore_db/

# MLflow
mlruns/

# Docker
*.log

# OS
.DS_Store
Thumbs.db
